<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
    </head>

    <body>

        <h1><b>Ausgabe aller Bars aus der Datenbank</b></h1>

        <ul>
            {% for bar in bars %}
                <li>ID: {{ bar.id }} Name: {{ bar.name }}</li>
            {% endfor %}
        </ul>

    </body>
</html>